<!DOCTYPE html>
<html>
<head>
  <title>Techu</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Freckle+Face' rel='stylesheet' type='text/css'>
</head>
<body>

<div class="navbar navbar-inverse">
  <div class="navbar-inner navbar-static-top ">
    <%= link_to "Zombie Survival Guide", zombies_path , :class => "brand" %>
    <ul class="nav pull-right">
      <li><a href="crew">Find your crew</a></li>
      <li><a href="weapon">Choose your weapon</a></li>
      <li><a href="supplies">Pack up</a></li>
      <li><a href="location">Location</a></li>
   
      <li class="dropdown-submenu"><a tabindex="-1" href="#">More Assignments</a>
		<ul class="dropdown-menu">
  			<li><a href="library">Library Sorting</a></li>
  			<li><a href="dragon">Dragons!</a></li>
  			<li><a href="#">My Personal Video Pitch</a></li>
		</ul>
  	  </li>
    </ul>
  </div>
</div>

<%= yield %>

</body>
</html>
